@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  line-height: 24px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

.sidenav {
  width: 234px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #084482;
  overflow-x: hidden;
}

.sidenav::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}

.sidenav::-webkit-scrollbar-track {
  box-shadow: #ffffff;
  border-radius: 10px;
}

.sidenav::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 5px;
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.sidenav:hover::-webkit-scrollbar {
  display: initial;
}

.logo__wrapper {
  padding: 0 11px;
  position: fixed;
  width: 234px;
  background-color: #084482;
  z-index: 5;
}

.logo__image {
  padding: 37px 0 42px;
  border-bottom: 1px solid #dfdfdf;
}

.sidenav_links {
  padding-top: 161px;
}

.sidenav_links li {
  margin-bottom: 12px;
}

.sidenav_links li a {
  display: block;
  padding: 12px 40px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.sidenav_links li .active,
.sidenav_links li:hover {
  background-color: #00aeff;
}

#body__click {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  overflow-x: hidden;
  height: 100vh;
}

.body__click__active {
  opacity: 1 !important;
  pointer-events: all !important;
}

@media only screen and (max-width: 991px) {
  .sidenav {
    transform: translate3d(-234px, 0, 0);
  }

  .sidenav__active {
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-in-out;
  }

  .sidenav__unactive {
    transform: translate3d(-234px, 0, 0);
    transition: all 0.5s ease-in-out;
  }

  .body__active {
    margin-left: 234px;
    transition: all 0.5s ease-in-out;
  }
}
