.top {
    
    display: grid;
    grid-gap: 125px;
    border-radius: 8px;
    margin-right: 424px;
}

.main {
    display: grid;
    background: #FFFFFF;
    margin-right: 148px;
}

.verify {
    grid-column-start: 2;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    /* or 100% */
    display: flex;
    align-items: center;
    color: #000000;
}

.employer-list-btn {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #B5B5B5;
    grid-column-end: 11;
    border-radius: 5px;
}

.card_box {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 3;
    grid-gap: 10px;
}

.card {
    width: 320px;
    height: 376px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(167, 167, 167, 0.25);
}

.card {
    font-family: Poppins;
    width: 320px;
    height: 376px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(167, 167, 167, 0.25);
}

.logo {
    width: 80px;
    height: 80px;
    background: #C4C4C4;
    align-self: center;
    margin-top: 24px;
}

.card-title {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

.card-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #343434;
}

.btn-info:hover {
    background-color: white;
    color: #C4C4C4;
}

.btn-info {
    background-color: #FFFFFF;
    color: #C4C4C4;
    border: none;
    padding-right: 5px;
}

.btn-primary {
    width: 120px;
    height: 37px;
    background: #00AEFF;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .card_box {
        display: flex;
        justify-content: center;
    }
    .container {
        display: flex;
    }
    .employer-list-btn {
        left: 180px;
    }
}
