.container {
    display: grid;
    grid-column-gap: 93px;
    background: #F4F4F4;
    border-radius: 8px;
}

.main {
    display: grid;
    background: #FFFFFF;
}

.verify {
    grid-column-start: 3;
}

.employer-list-btn {
    grid-column-end: 11;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    border-radius: 5px;
}

.card_box {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 3;
    grid-row-gap: 10px;
}

.verify {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-right: 8px;
}

.card {
    display: flex;
    width: 320px;
    height: 376px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(167, 167, 167, 0.25);
}

.card-body {
    text-align: center;
}

.card {
    font-family: Poppins;
    width: 320px;
    height: 376px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(167, 167, 167, 0.25);
}

.logo {
    width: 80px;
    height: 80px;
    background: #C4C4C4;
    align-self: center;
    margin-top: 24px;
}

.card-title {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

.card-text {
    height: 96px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #343434;
}

.btn-info:hover {
    background-color: white;
    color: #C4C4C4;
}

.btn-info {
    background-color: #FFFFFF;
    color: #C4C4C4;
    border: none;
    padding-right: 5px;
}

.btn-primary {
    background: #00AEFF;
    border-radius: 5px;
}

.btn-group {
    border-radius: 5px;
    background: #FFFFFF;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .card_box {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .container {
        display: flex;
    }
    .employer-list-btn {
        left: 180px;
    }
}
